@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/* Reset defaults and Define font */
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: row;
}

/* NAVIGATION */
nav {
    height: 100vh;
    width: 18vw;
    border-right: 0.5px solid #F2F6F9;
    box-sizing: border-box;
}

nav>.sb-logo {
    height: 10vh;
    width: 100%;
    border-bottom: 0.5px solid #F2F6F9;
    box-sizing: border-box;
    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav>.sb-logo>img {
    height: 7vh;
}

nav>.side-menu {
    height: 90vh;
    width: 100%;
    background: #FFFFFF;
    list-style: none;
    padding-top: 15px;
}

nav>.side-menu>.side-menu-item {
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    margin: 15px;
    padding: 12px;
    color: #686868;
}

nav>.side-menu>.active {
    background: #F3FAF7;
    color: #2261B8;
}

nav>.side-menu>.side-menu-item>img {
    padding: 0 15px;
}

nav>.side-menu>.side-menu-item>p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

/* MAIN */
main {
    height: 100vh;
    width: 82vw;
}

main>header {
    height: 10vh;
    width: 100%;
    border-bottom: 0.5px solid #F2F6F9;
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

main>header>.title {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #919191;
    text-transform: uppercase;

    padding-left: 30px;
}

main>header>.logged-user {
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.08em;
    color: #353434;

    padding-right: 60px;
}


main>section {
    height: 90vh;
    width: 100%;
    background: #F2F6F9;
    padding: 30px;
}

main>section>h1 {
    font-weight: bold;
    font-size: 1.3em;
}

/* SEARCH-BAR */
section>.search-bar {
    width: 47vw;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(69, 69, 69, 0.12);
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
}

section>.search-bar>img {
    padding: 0 12px;
}

section>.search-bar>input,
section>.search-bar>select,
section>.search-bar>button {
    border: none;
}

section>.search-bar>input {
    width: 25vw;
}

section>.search-bar>input::placeholder {
    color: #C4C4C4;
}

section>.search-bar>select {
    /* width: 11vw; */
    padding: 12px 30px;
    padding-right: 45px;
    border-left: 2px solid #F2F6F9;
    color: #686868;
    text-align: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../icons/down-arrow.svg');
    background-position: 78% 50%;
    background-repeat: no-repeat;
}

section>.search-bar>button {
    width: 11vw;
    background-color: #00629B;
    color: #FFFFFF;
    padding: 12px;
    font-weight: bold;
}

section>.search-bar>select:hover,
section>.search-bar>button:hover {
    cursor: pointer;
}