@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/* Reset defaults and Define font */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

#root {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* NAVIGATION */
nav {
  height: 100vh;
  width: 18vw;
  border-right: 0.5px solid #f2f6f9;
  box-sizing: border-box;
}

nav > .sb-logo {
  height: 10vh;
  width: 100%;
  border-bottom: 0.5px solid #f2f6f9;
  box-sizing: border-box;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .sb-logo > img {
  height: 7vh;
}

nav > .side-menu {
  height: 90vh;
  width: 100%;
  background: #ffffff;
  list-style: none;
  padding-top: 15px;
}

nav > .side-menu > .side-menu-item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  text-decoration: none;
  margin: 15px;
  padding: 12px;
  color: #686868;
}

nav > .side-menu > .active {
  background: #f3faf7;
  color: #2261b8;
}

nav > .side-menu > .side-menu-item > img {
  padding: 0 15px;
}

nav > .side-menu > .side-menu-item > p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

/* MAIN */
main {
  height: 100vh;
  width: 82vw;
}

main > header {
  height: 10vh;
  width: 100%;
  border-bottom: 0.5px solid #f2f6f9;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

main > header > .title {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #919191;
  text-transform: uppercase;

  padding-left: 30px;
}

main > header > .logged-user {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.08em;
  color: #353434;

  padding-right: 60px;
}

main > section {
  height: 90vh;
  /* width: 100%; */
  background: #f2f6f9;
  /* padding-left: 30px; */
  /* padding-top: 30px; */
  padding: 30px;
  position: relative;
}

main > section > h1 {
  font-weight: bold;
  font-size: 1.3em;
}

/* SEARCH-BAR */
section > .search-bar {
  width: 47vw;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(69, 69, 69, 0.12);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
}

section > .search-bar > img {
  padding: 0 12px;
}

section > .search-bar > input,
section > .search-bar > select,
section > .search-bar > button {
  border: none;
}

section > .search-bar > input {
  width: 25vw;
}

section > .search-bar > input::placeholder {
  color: #c4c4c4;
}

section > .search-bar > select {
  /* width: 11vw; */
  padding: 12px 30px;
  padding-right: 45px;
  border-left: 2px solid #ffffff;
  color: #686868;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./icons/down-arrow.svg");
  background-position: 78% 50%;
  background-repeat: no-repeat;
}

section > .search-bar > button {
  width: 11vw;
  background-color: #00629b;
  color: #ffffff;
  padding: 12px;
  font-weight: bold;
}

section > .search-bar > select:hover,
section > .search-bar > button:hover {
  cursor: pointer;
}

/* CONTAINER */
main > section > .container {
  display: flex;
  position: relative;
}

/* TABLE */
main > section > .container > table {
  width: 46vw;
  margin-top: 30px;
  color: #686868;
  font-size: 0.8em;

  overflow: auto;
}

main > section > .container > table > thead {
  display: block;
  position: absolute;
  background-color: #ffffff;
  /* position: sticky; */
  border-radius: 6px 6px 0 0;
}

main > section > .container > table > tbody {
  top: 40px;
  display: block;
  position: relative;
  overflow-y: auto;
  height: 60vh;
  background-color: #ffffff;
  /* border-radius: 6px; */
  /* width: 100%; */
  left: 0;
}

/*  CUSTOM SCROLLBAR FOR TABLE  */
main > section > .container > table > tbody::-webkit-scrollbar {
  background: none;
  width: 5px;
  height: 100%;
}

main > section > .container > table > tbody::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.46);
}

main > section > .container > table > tbody::-webkit-scrollbar-thumb {
  /* width: 4px; */
  background: rgba(70, 70, 70, 0.42);
  border-radius: 10px;
  background-clip: padding-box;
}

main > section > .container > table > tbody::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

main > section > .container > table > tbody::-webkit-scrollbar-corner {
  background-color: transparent;
}

main > section > .container > table > thead > tr {
  padding: 12px 0;
}

main > section > .container > table > thead > tr > th > img {
  padding: 0 4px;
}

main > section > .container > table > tbody > tr {
  padding-bottom: 8px;
  padding-top: 8px;
}

main > section > .container > table > thead > tr,
main > section > .container > table > tbody > tr {
  width: 47vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main > section > .container > table > thead > tr > th,
main > section > .container > table > tbody > tr > td {
  width: 9vw;
  /* padding-right: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main > section > .container > table > tbody > tr > td > .status-active {
  width: 60%;
  height: 2.7vh;
  background: #00843d;
  border-radius: 2px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
}

main > section > .container > table > tbody > tr > td > .status-inactive {
  width: 60%;
  height: 2.7vh;
  background: #ba0c2f;
  border-radius: 2px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
}

/* REQUEST MEMBER INFO */
main > section > .container > .request-box {
  margin-top: 30px;
  margin-left: 30px;
  width: 28vw;
  height: 100%;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(69, 69, 69, 0.12);
}

main > section > .container > .request-box > p {
  font-size: 0.9em;
  color: #353535;
  padding: 12px 15px;
  border-bottom: 0.5px solid #e5e5e5;
}

main > section > .container > .request-box > form {
  margin: 12px 15px;
}

main > section > .container > .request-box > form > input,
main > section > .container > .request-box > form > textarea,
main > section > .container > .request-box > form > button {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: #c4c4c4;
}

main > section > .container > .request-box > form > input::placeholder,
main > section > .container > .request-box > form > textarea::placeholder {
  font-size: 1.1em;
  color: #c4c4c4;
}

main > section > .container > .request-box > form > input {
  width: 93.2%;
}

main > section > .container > .request-box > form > .purpose {
  width: 93.2%;
  height: 20vh;
}

main > section > .container > .request-box > form > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

main > section > .container > .request-box > form > button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #00629b;
  color: #ffffff;
  font-weight: 600;
}

.red {
  color: #ba0c2f;
}
.alert {
  font-size: 0.8rem;
}
